APP_NAME="Pódio Belluno"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://podio.belluno.com.br
FRONTEND_URL=https://podio.belluno.com.br

APP_LOCALE=pt_BR
APP_FALLBACK_LOCALE=pt_BR

DB_CONNECTION=pgsql
DB_HOST=db
DB_PORT=5432
DB_DATABASE=podio
DB_USERNAME=podio
DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null
SESSION_SECURE_COOKIE=true
SESSION_SAME_SITE=lax

SANCTUM_STATEFUL_DOMAINS=podio.belluno.com.br

CACHE_STORE=database
QUEUE_CONNECTION=sync
LOG_CHANNEL=stderr
LOG_LEVEL=error

MAIL_MAILER=log
MAIL_FROM_ADDRESS="noreply@belluno.com.br"
MAIL_FROM_NAME="${APP_NAME}"

DOMAIN=podio.belluno.com.br
ACME_EMAIL=admin@belluno.com.br
